*{
	margin: 0;
	padding: 0;
	list-style: none;
	outline: none;
	font-family: "microsoft yahei";
	font-size: 14px;
	
}
img{
	border: none;
	vertical-align: top;
}
a{
	text-decoration: none;
	font-size: 14px;
	color: #333;
}
a:hover{
	color: #8F000B;
}

.clear{ 
	clear:both;
}
.fl{
	float: left;
}
.fr{
	float: right;
}


.headimg {
    background-image: url(./header.png);
    width: 100%;
    height: 175px;
    /* background-repeat: repeat-x; */
}
.l1ogo{
    background-image: url(./logo.png);
    z-index: 2px;
    height: 175px;
    background-repeat: no-repeat;
}
.nav-bg{background: #90000a;}
.nav{
	height: 55px;
	position: relative;
    max-width: 1440px;
    margin: 0 auto;
}
.nav em {
  width: calc(50% - 530px);
  height: 55px;
  background: #ff8b00 url(./img/nav-bg.jpg) no-repeat right center;
  position: absolute;
  top: 0;
  left: 0;
}
.nav ul .nLi{
	float: left;
	text-align: center;
	height: 55px;
	line-height: 55px;
	position: relative;width: 155px;
}
.nav ul .nLi a{
	font-size: 16px;
	display: block;
	color: #fff;
}

.subnav{
	display:none;                
	z-index: 999;
	position: absolute;
	background: #b11722;
	width: 100%;
	left: 0;
}
.subnav li{
	height: 38px;
	line-height: 38px;
	text-align: center;
	width: 100%;
}
.subnav li a{
	font-size: 14px;
	color: #fff;
}

.swiper-container {
    width: 100%;
    height: 600px;
}

.swiper-slide img {
    height: 100%;
    width: 100%;
}  

.content{
	max-width: 1440px;
	margin: 0 auto;
}
.row {
	margin-left: 0px;
	margin-right: 0px;
}
.menu{
	font-family:"Microsoft YaHei",SimSun,Tahoma, Verdana;
	margin-bottom:10px;}
.menu .biaoti{
	font-size:21px;
	letter-spacing:2px;
	border-bottom:5px solid #ff8b00;}	
.menu .biaoti_en{
	color:#DDDDDD;
	font-size:14px;
	border-bottom:5px solid #90000a;}	
.menu .more{
	border-bottom:5px solid #90000a;}
/*å­¦ç”ŸåŠ¨æ€ æ–°é—»åˆ—è¡¨*/
.xinwen{
	font-family:"Microsoft YaHei",SimSun,Tahoma, Verdana;
	margin: 5px 0px;
}
.xinwen .biaoti a{
	display:block;
	height:35px;
	line-height:35px;
	width:480px;
	overflow:hidden;
	padding-left:20px;
	font-size: 16px;}		
.xinwen .riqi{
	color:#90000a;
	font-size:15px;
	border: 1px solid #AAAAAA ;
}
		

.layout2{
	text-align: center;
}
.layout2 .ad img{
	width: 670px;
	height: 200px;
}
.bg_color_0c4b3a{background-color: #90000a;}
#layer5{font-size: 14px;text-align: center;line-height: 20px;padding: 20px 0;color: #FFF;}