a{
    color: black;
}
.clear{
    clear: both;
}
.float-left{
    float: left;
}
.float-right{
    float: right;
}
.ltop .float-left{
    display: flex;
}
.content{
    max-width: 1680px;
    margin: 0 auto;
}
.header .topline{
    height: 25px;
    background-color: #b02427;
    padding: 0 25px;
}
.header .topline span{
    color: white;
    font-size: 16px;
    line-height: 25px;
}
.header .topline .float-left:first-child span{
    margin-right: 30px;
}
.llogo{
    margin-right: 15px;
}
.llogo img {
    width: 50px;
    height: 50px;
}
.ltitle,.float-right span{
    font-size: 24px;
    line-height: 50px;
    color: #b02427;
}
.list1 span{
    float: right;
}
.nav-bar{
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-left: 40px;
    margin-bottom: 0;
    list-style: none;
    justify-content: center;
}
.nav-tabs {
    border-bottom: 0;
}
.nav-tabs .nav-link{
    border: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover{
    border-radius: 25px;
    background-color: #b02427;
    color: white;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    border-radius: 25px;
    background-color: #b02427;
    color: white;
}
.tab-content>.active{
    display: block;
}
.xtlj{
    display: flex;
    justify-content: center;
    text-align: center;
}
.xtlj div{
    margin: 0 10px;
}
.xtlj img {
    width: 150px;
    height: 150px;
}